.card {
    @include drop-shadow(1);
    box-sizing: border-box;
    display: inline-block;
    background-color: white;
    transition: box-shadow 0.2s ease-in-out;
    border-radius: 2px;
    margin-bottom: 1em;
    width: 100%;

    .content {
        padding: 1.5em 1em 1em 1em;
    }
    .image {
        text-align: center;
        overflow: hidden;
//        height: 250px;
        //        background-size: cover;
        //        background-repeat: no-repeat;
        //        background-position: center;
        img {
            height: auto;
            width: 100%;
        }
    }

    &:hover {
        @include drop-shadow(2);
    }
}