
@mixin baseNav {
    margin: 0;
    padding: 0;
    li {
        overflow: hidden;
        &.active {
            background-color: $gray;
            a {
                color: #000;
            }
        }

        list-style-type: none;
        margin-left: 0;
        padding-left: 16px;
        a {
            color: #000000;
            transition: all 0.2s ease-in-out;
            display: block;
            &:hover {
                color:$blue;
            }

            i.icon {
                font-family: 'FontAwesome';
                margin-right: 16px;
                line-height: 19px;
            }
        }

        .divider {
            border-bottom: 1px solid $lightGray;
            margin: 0 auto;
            width: 190px;
        }

        &.dropdown {
            box-sizing: border-box;
            & > a {
                .pull-right {
                    text-align: right;
                    margin-right: 20px;
                }
            }
            &.open {
                background-color: $lightGray;
            }
            & > ul {
                margin: 0;
                display: none;
                li {
                    height: auto;
                    background-color: $lighterGray;
                    padding-left: 32px;
                }
            }
        }
    }
}

@media only screen and (max-width: $mediaMedium) {
    nav {
        background-color: rgba(255,255,255,1);
        width: 100%;
        flex-grow: 1;
        -ms-flex-grow: 1;
        -moz-flex-grow: 1;
        -webkit-flex-grow: 1;

        ul {
            display: none;
            width: 100%;
            @include baseNav;
            li {
                padding: 0.5em 1em 0.5em 1em;
            }
            &:last-child {
                li {
                    &:last-child {
                        margin-bottom: 1em;
                    }
                }
            }
        }

        button {
            color: #000000;
            background-color: #ffffff;
            border: 0;
            display: block;
            font-size: 1.2em;
            cursor: pointer;
            margin-bottom: 0;
            &:hover {
                color: $darkGray;
                background-color: inherit;
            }
        }
    }
}


@media only screen and (min-width: $mediaMedium) {

    nav {

        @include drop-shadow(1);
        background-color: #ffffff;
//        background-color: rgba(255,255,255,0.90);
        position: relative;
//            box-shadow: 10px 0px 5px -10px rgba(black, 0.23), 0 0 25px rgba(black, 0.05);
        button.nav {
            display: none;
        }
        ul {
            display: block;
            @include baseNav;
            line-height: 40px;
            height: 40px;
            &.align_right {
                float: right;
            }

            &.left {
                float: left;
            }
            &.right {
                float: right;
            }

            li {
                line-height: 40px;
                display: inline-block;

                padding-left: 1em;
                padding-right: 1em;
            }

            &.raised {
                @include drop-shadow(2);
            }
        }
    }
}

.grid-container.menu-fixed {
    width: 100%;
    max-width: none;
    position: fixed;
    z-index: 20;
}

.grid-container.menu {
    width: 100%;
    max-width: none;
    z-index: 20;
}
