/*-----------------------*\
         Font
\*-----------------------*/
/*-----------------------*\
         Colors
\*-----------------------*/
/*-----------------------*\
         Table
\*-----------------------*/
/*-----------------------*\
         Link
\*-----------------------*/
/*-----------------------*\
         Button
\*-----------------------*/
/*-----------------------*\
         Container
\*-----------------------*/
/*-----------------------*\
         Nav
\*-----------------------*/
/*-----------------------*\
         Media size
\*-----------------------*/
/*-----------------------*\
         Colors and backgrounds
\*-----------------------*/
.c-orange {
  color: #f39c12; }

.c-white {
  color: #ffffff; }

.b-yellow {
  background-color: #F4D03F; }

.l1 {
  margin-bottom: 40px;
  color: #1F5B75; }

.l2 {
  margin-bottom: 30px;
  color: #2F3A65; }

.l3 {
  margin-bottom: 30px;
  color: #3B2158; }

.preview {
  background-color: #ffffff;
  border: 1px solid #ccc;
  padding: 20px 40px; }

.grid-presentation {
  color: #ffffff;
  text-align: center;
  padding-top: 0.8em;
  background-color: #03a9f4;
  height: 3em;
  margin-bottom: 1em; }

.shadow0 {
  box-shadow: 0 0 0 #000; }
  .shadow0:hover {
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.23), 0 8px 25px rgba(0, 0, 0, 0.05); }

.shadow1 {
  box-shadow: 0 1.5px 3px rgba(0, 0, 0, 0.24), 0 3px 8px rgba(0, 0, 0, 0.05); }
  .shadow1:hover {
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3), 0 10px 50px rgba(0, 0, 0, 0.12); }

.shadow2 {
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.23), 0 8px 25px rgba(0, 0, 0, 0.05); }
  .shadow2:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.28), 0 15px 60px rgba(0, 0, 0, 0.18); }

.shadow3 {
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3), 0 10px 50px rgba(0, 0, 0, 0.12); }
  .shadow3:hover {
    box-shadow: 0 16px 20px rgba(0, 0, 0, 0.29), 0 20px 65px rgba(0, 0, 0, 0.18); }

.shadow4 {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.28), 0 15px 60px rgba(0, 0, 0, 0.18); }
  .shadow4:hover {
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.23), 0 8px 25px rgba(0, 0, 0, 0.05); }

.shadow5 {
  box-shadow: 0 16px 20px rgba(0, 0, 0, 0.29), 0 20px 65px rgba(0, 0, 0, 0.18); }
  .shadow5:hover {
    box-shadow: 0 1.5px 3px rgba(0, 0, 0, 0.24), 0 3px 8px rgba(0, 0, 0, 0.05); }

h1 {
  color: #3949AB;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease; }
  h1:hover {
    color: #03a9f4; }

h2 {
  color: #3F51B5;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease; }
  h2:hover {
    color: #03a9f4; }

h3 {
  color: #5C6BC0;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease; }
  h3:hover {
    color: #03a9f4; }

h4 {
  color: #7986CB;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease; }
  h4:hover {
    color: #03a9f4; }

h5 {
  color: #9FA8DA;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease; }
  h5:hover {
    color: #03a9f4; }

h6 {
  color: #C5CAE9;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease; }
  h6:hover {
    color: #03a9f4; }

.sommaire a {
  color: #4285f4;
  font-weight: 400;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease; }
  .sommaire a:hover {
    color: #03a9f4; }

/*# sourceMappingURL=local.css.map */
