@import "shadow";
@import "style";

.l1 {
    margin-bottom: 40px;
    color: #1F5B75;
}

.l2 {
    margin-bottom: 30px;
    color: #2F3A65;
}

.l3 {
    margin-bottom: 30px;
    color: #3B2158;
}

.preview {
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 20px 40px;
}

.grid-presentation {
    color: #ffffff;
    text-align: center;
    padding-top: 0.8em;
    background-color: $lightBlue;
    height: 3em;
    margin-bottom: 1em;
}

.shadow0 {
    @include drop-shadow(0);
    &:hover {
        @include drop-shadow(2);
    }
}
.shadow1 {
    @include drop-shadow(1);
    &:hover {
        @include drop-shadow(3);
    }
}
.shadow2 {
    @include drop-shadow(2);
    &:hover {
        @include drop-shadow(4);
    }
}
.shadow3 {
    @include drop-shadow(3);
    &:hover {
        @include drop-shadow(5);
    }
}
.shadow4 {
    @include drop-shadow(4);
    &:hover {
        @include drop-shadow(2);
    }
}
.shadow5 {
    @include drop-shadow(5);
    &:hover {
        @include drop-shadow(1);
    }
}

@mixin hoverTitle() {
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
    &:hover {
        color: $lightBlue;
    }
}

h1 {
    color: #3949AB;
    @include hoverTitle;
}

h2 {
    color: #3F51B5;
    @include hoverTitle;
}

h3 {
    color: #5C6BC0;
    @include hoverTitle;
}

h4 {
    color: #7986CB;
    @include hoverTitle;
}

h5 {
    color: #9FA8DA;
    @include hoverTitle;
}

h6 {
    color: #C5CAE9;
    @include hoverTitle;
}

.sommaire {
    a {
        color: $blue;
        font-weight: 400;
        -webkit-transition: color 0.3s ease;
        -moz-transition: color 0.3s ease;
        -ms-transition: color 0.3s ease;
        -o-transition: color 0.3s ease;
        transition: color 0.3s ease;
        &:hover {
            color: $lightBlue;
        }
    }
}
